
body
{
    background-color: blueviolet;
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(149, 31, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 300px;
    height: 200px;
    margin: 30px auto;
    display: block;
}
.banner
{
    background-color: yellow;
    padding-bottom: 20px;
}
p{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
}